@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

@media screen {
.outer-border{
  width:800px; height:650px; padding:20px; text-align:center; border: 10px solid #673AB7;    margin-left: 21%;
}

.inner-dotted-border{
  width:750px; height:600px; padding:0px; text-align:center; border: 5px solid #673AB7;border-style: dotted; margin-left: -0.6%;
}

.certification{
  font-size:60px; font-weight:bold; letter-spacing: 3px;   color: #663ab7; font-family: 'Bebas Neue', sans-serif;
}

.certify{
  font-size:25px;
}

.name{
  font-size:60px;  color: rgb(65, 65, 65); font-family: 'Niconne', sans-serif;
}

.name input[type="text"]
{   
    text-align: center;
    background: transparent;
    border: none;
}

.fs-30 input[type="text"]
{   
    text-align: center;
    background: transparent;
    border: none;
}

.fs-30{
  font-size:25px; font-family: 'Aladin', sans-serif;
}

.fs-20{
  font-size:20px;
  text-align: center;
  margin-left: 11.5rem;
}
.fs-20 input[type="text"]
{   
    font-weight: 700;
    background: transparent;
    border: none;
}
.fs-23{
  font-size:16px;
  position: absolute;
  text-align: left;
  margin-left: -22rem;
  margin-top: 5rem;
  font-weight: 600;
}
.fs-23 input[type="text"]
{   
    font-size: 14px;
    font-weight: 700;
    width: 550px;
    text-align: center;
    background: transparent;
    border: none;
}
.fs-23 b{
  font-size: 14px;
}
.fs-22{
  font-size:20px;
  position: absolute;
  margin-top: 1rem;
  margin-left:13rem;
}
.fs-22 input[type="text"]
{   
    text-align: center;
    background: transparent;
    border: none;
}
.btn {
  margin-top: 10px;

}

.back-btn img{
  position: absolute;
  width: 2.5%;
  margin-left: -46%;
  margin-top: -45%;
}
.back-btng img{
  position: absolute;
  width: 2.5%;
  margin-left: -46%;
  margin-top: -42%;
}


}

@media print {
  @page {
    size: A4 landscape;
  }
  .outer .hide {
    display: none;
  }
 .outer-border{
  width:800px; height:650px; padding:20px; text-align:center; border: 10px solid #673AB7;    margin-left: 21%;
}

.inner-dotted-border{
  width:750px; height:600px; padding:0px; text-align:center; border: 5px solid #673AB7;border-style: dotted; margin-left: -0.6%;
}

.certification{
  font-size:60px; font-weight:bold; letter-spacing: 3px;   color: #663ab7; font-family: 'Bebas Neue', sans-serif;
}

.certify{
  font-size:25px;
}

.name{
  font-size:60px;  color: rgb(65, 65, 65); font-family: 'Niconne', sans-serif;
}

.name input[type="text"]
{   
    text-align: center;
    background: transparent;
    border: none;
}

.fs-30 input[type="text"]
{   
    text-align: center;
    background: transparent;
    border: none;
}

.fs-30{
  font-size:25px; font-family: 'Aladin', sans-serif;
}

.fs-20{
  font-size:20px;
}
.fs-20 input[type="text"]
{   
    text-align: center;
    background: transparent;
    border: none;
}
.fs-23{
  font-size:16px;
  position: absolute;
  text-align: left;
  margin-left: -22rem;
  margin-top: 5rem;
  font-weight: 600;
}
.fs-23 input[type="text"]
{   
    font-size: 14px;
    font-weight: 700;
    width: 550px;
    text-align: center;
    background: transparent;
    border: none;
}
.fs-23 b{
  font-size: 14px;
}
.fs-22{
  font-size:20px;
  position: absolute;
  margin-top: 1rem;
  margin-left:13rem;
}
.fs-22 input[type="text"]
{   
    text-align: center;
    background: transparent;
    border: none;
}
}
